<html>
<head>
    <title>
        Perfil - Vendedor
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body class="bg-gray-200">
<div class="bg-white text-emerald-600 p-4 flex justify-between items-center">
    <div class="flex items-center">
        <span class="text-xl font-bold">
     ReClick
    </span>
    </div>
    <div class="hidden md:flex space-x-8">
        <a class="text-black" href="#">
            Início
        </a>
        <a class="text-black" href="#">
            Eventos
        </a>
        <a class="text-black" href="#">
            Perfil
        </a>
    </div>
    <a class="text-black" href="#">
        Login/Cadastro
    </a>
</div>
<div class="p-8">
    <div class="flex items-center mb-8">
        <img alt="Profile picture of Gabriela Santos" class="rounded-full w-24 h-24 mr-4" height="100" src="https://www.flaticon.com/br/icone-gratis/foto-do-perfil_12225881    "/>
        <div>
            <h1 class="text-3xl font-bold">
                Fabricio conterato
            </h1>
            <div class="flex items-center space-x-4 mt-2">
                <div class="flex items-center">
                    <i class="fas fa-phone-alt mr-2">
                    </i>
                    <span>
        55 997359874
       </span>
                </div>
                <div class="flex items-center">
                    <i class="fas fa-map-marker-alt mr-2">
                    </i>
                    <span>
        Santiago - RS
       </span>
                </div>
                <div class="flex items-center">
                    <i class="fas fa-plus-circle mr-2">
                    </i>
                    <a class="text-black" href="#">
                        Add. evento
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-2xl font-bold mb-4">
        Eventos
    </h2>
    <div class="border rounded-lg p-4 bg-white">
        <h3 class="text-xl font-bold mb-2">
            Green Eventos
        </h3>
        <p>
            Ingressos disponíveis: 300
        </p>
        <p>
            Ingressos pagos: 20
        </p>
    </div>
</div>
</body>
</html>
